/* .dark{
    background-color: #222;
    
} */

:root {
    --background-color: #fff;
    --text-color: #000;
  }
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  [data-theme="dark"] {
    
    filter: invert(100%);
  }

  #theme-switcher{
      padding: 5px;
      font-family: sans-serif;
      font-weight: 800;
  }
.image_box{
    position: absolute;
    max-width: 15rem;
    top: 2rem;
    left: 15rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086);
    animation: animateImg 2s ease-in forwards;
}
.imgArea{
    display: flex;
}
.image_container{
    width: 13rem;
}
.image_container img{
    max-height: 100%;
    max-width: 100%; 
    border-radius: 0.5rem;
}
.imgNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:grab;
}
.imgIcon{
    height: 30px;
    width: 25px;
    font-size: 1.3rem;
    border-radius: 20%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 0.5rem;
    color: rgb(238, 242, 247);
    cursor: pointer;
    
}
.imgIcon:hover{
    background-color: rgba(230, 222, 222, 0.527);
}

.imgText{
    height: 10rem;
    width: 100%;
    display: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(230, 222, 222, 0.527);
    overflow: auto;
    text-align: center;
}
.imgText::-webkit-scrollbar {
    display: none;
  }

@keyframes animateImg {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    90%{
        transform: scale(0.9);
    }
    100%{
        opacity: 1; 
    }
}